/GroupTutorialAssignmentWeekFour/target/
/GroupTutorialAssignmentWeekFour/nbproject/
GroupTutorialAssignmentWeekSeven/target/
GroupTutorialAssignmentWeekSeven/.idea/
.idea/aws.xml
.idea/workspace.xml
*.xml
*.iml
